.controls {
  position: absolute;
  bottom: 30px;
  left: 250px;
}

.slider {
  position: absolute;
  top: 70px;
}

.buttons {
  padding: 5px;
  border: thin solid rgb(31,108,155);
  border-radius: 10px;
  color: white;
  background: rgb(31,108,155);
  margin-right: 10px;
  font-size: 12px;
}

.duration {
  right: 16px;
}